.sidebar {
  width: 240px;
  background: #202020;
  color: white;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
  padding: 12px;
}

.sidebar p {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar p:hover {
  background: #383838;
}

/* Mobile */
@media (max-width: 1023px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 1000;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
}
