.video-card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  object-fit: cover;
}

.video-info h4 {
  font-size: 14px;
  margin: 8px 0 4px;
}

.video-info p {
  font-size: 12px;
  color: #606060;
}
