body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f9f9f9;
}
.layout {
  display: flex;
}

.content {
  flex: 1;
  margin-top: 56px;
  padding-left: 240px;
}

/* Tablet & Mobile */
@media (max-width: 1023px) {
  .content {
    padding-left: 0;
  }
}
