* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


/* Header offset */
body {
  padding-top: 56px;
}

/* MAIN PAGE LAYOUT */
.page {
  display: flex;
  width: 100%;
}

/* LEFT NAV */
.leftnav {
  width: 72px;
  flex-shrink: 0;
  background: white;
  border-right: 1px solid #e5e5e5;
}

/* CONTENT */
.page-content {
  flex: 1;
  min-width: 0;   /*  THIS PREVENTS GAPS */
}
